.contacto{
  position: relative;
  padding: 100px 0px;
  &:after{
    content: "";
    width: 65%;
    height: 75%;
    position: absolute;
    bottom: 0;
    background-color:$plomo;
    z-index: -1;
  }
  &__info{
      margin-left: 0px;
      .item{
        text-align: center;
        background-color: $blanco;
        border: 1px solid #F4F5F7;
        box-sizing: border-box;
        box-shadow: 0px 8px 10px rgba(32, 51, 103, 0.03);
        margin-bottom: 30px;
        padding: 40px;
        h4{
          color: $rojo;
          text-transform: uppercase;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 0.875rem;
          display: block;
          margin-bottom: 10px;
          margin-top: 30px;
        }
        p,
        a{
          font-size: 1.125rem;
          line-height: 1.375rem;
          color: $azul;
          font-weight: 600;
        }
      }
  }
  &__content{
    border: 1px solid $plomo;
    box-sizing: border-box;
    padding: 50px 40px;
    box-shadow: 0px 8px 10px rgba(32, 51, 103, 0.03);
    background-color: $blanco;
    .form{
      &__boton{
        text-align: right;
        span{
          color: $colorP;
          font-size: 0.938rem;
          line-height: 1.563rem;
        }
        button{
          margin-left: 20px;
          border:1px solid transparent;
          background-color: $blanco;
        }
      }
      &-group{
        label{
          font-size: 0.938rem;
          line-height: 1.125rem;
          color: $colorP;
          position: absolute;
          top:6px;
        }
        .select{
          height: 55px;
          &-styled{
            padding:22px 15px;
          }
        }
        .label{
          position: relative;
          margin-bottom: 20px;
        }
        input{
          background-color: $plomo;
          height:55px;
          border:1px solid $plomo;
          border-radius: 0;
          color: $azul;
          padding-left: 18px;
          font-size: 0.875rem;
          line-height: 1.063rem;
          letter-spacing: 2px;
          font-weight: 600;
          margin-top: 40px;
          &:focus + label{
              color: $azul;
          }
          &::placeholder{
              color: #646E89;
              opacity: 0.5;
          }
          &:focus{
              border:1px solid $azul;
              outline: none;
              box-shadow: 0px 0px 0px transparent;
          }
        }
        textarea{
          background-color: $plomo;
          border:1px solid $plomo;
          border-radius: 0;
          color: $azul;
          padding: 18px;
          font-size: 0.875rem;
          line-height: 1.063rem;
          letter-spacing: 2px;
          font-weight: 600;
          margin-top: 40px;
          resize: none;;
          &:focus + label{
              color: $azul;
          }
          &::placeholder{
              color: #646E89;
              opacity: 0.5;
          }
          &:focus{
              border:1px solid $azul;
              outline: none;
              box-shadow: 0px 0px 0px transparent;
          }
        }
      }
    }
  }
}

.contenidoFlecha{
  .flechaMapa{
    margin: 30px 20px;
  }
}

.mapa{
    height: 100vh;
    width: 100%;
    padding: 0;
    position: relative;
    iframe{
        height: 100%;
        width: 100%;
    }
    &__content{
      transform: translateX(-700px);
      position: absolute;
      width: 90%;
      height: 100vh;
      box-shadow: 8px 0px 10px rgba(32, 51, 103, 0.03);
      top:0;
      background-color: $blanco;
      transition: all 0.5s;
      &__top{
        padding: 30px;
        height: 20%;
        h3{
          font-size: 1.125rem;
          line-height: 1.75rem;
          color: $azul;
          font-weight: 900;
        }
        label{
          color: $colorP;
          line-height: 1.563rem;
          font-size: 0.875rem;
        }
      }
      &__bottom{
        max-height: 80%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 2px;     /* Tamaño del scroll en vertical */
            height: 8px;    /* Tamaño del scroll en horizontal */
        }
        &::-webkit-scrollbar-thumb {
            background: $rojo;
            border-radius: 6px;
        }
        /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $azul;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

        /* Cambiamos el fondo cuando esté en active */
        &::-webkit-scrollbar-thumb:active {
            background-color: $rojo;
        }
        .item{
          border-top: 1px solid #F4F5F7;
          padding: 24px 10px;
          &:hover{
            text-decoration: none;
          }
          &:hover .item__content{
            h4{
              color: $rojo;
            }
          }
          &__img{
            width: 100%;
            height: 153px;
            background-position: center;
            background-size: cover;
          }
          &__content{
            h4{
              font-size: 0.938rem;
              line-height: 1.563rem;
              color: $azul;
              font-weight: 900;
            }
            p{
              font-size: 0.875rem;
              line-height: 1.063rem;
              margin-bottom: 6px;
            }
          }
        }
      }
    }
}


@media (min-width: 576px) {

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {



 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mapa{
    &__content{
      transform: translateX(0px);
      width: 36%;
    }
  }
  .flechaMapa{
    display: none;
  }
  .contacto{
    &__info{
      margin-left: 20px;
    }
    &__content{
      padding: 60px 57px;
    }
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contacto{
    .container-fluid{
      padding: 0;
    }
    &__info{
      margin-left: 38px;
      .item{
        p,
        a{
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
    }
    &__content{
      padding: 60px 100px;
    }
  }
 }

 @media(min-width:1350px ){
   .mapa{
     &__content{
       width: 32%;
       &__top{
         padding: 20px 30px;
         height: 27%;
       }
       &__bottom{
          max-height: 73%;
       }
     }
   }
 }

 @media(min-width:1600px){
   .mapa{
     &__content{
       width: 21.6%;
       &__top{
         padding: 30px;
         height: 20%;
       }
       &__bottom{
          max-height: 80%;
       }
     }
     &__info{
       margin-left: 60px;
       .item{
         p,
         a{
           font-size: 1.125rem;
           line-height: 1.375rem;
         }
       }
     }
   }
   .contacto{
     &__content{
       padding: 90px 110px;
       .form-group{
         .select{
           height: 65px;
           &-styled{
             padding: 27px 15px;
           }
         }
         input{
           height: 65px;
         }
       }
     }
   }
 }
