.empresa{
  height:  536px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(5, 0, 64, 0.4);
    mix-blend-mode: multiply;
    top: 0;
    z-index: 1;
  }
  &__titulo{
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    z-index: 12;
    width: 100%;
    padding: 0px 20px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    img{
      width: 70px;
    }
    h1{
      text-transform: uppercase;
    }
    p{
      color: $blanco;
      width: 90%;
      font-size: 15px;
      line-height: 25px;
    }
    .botones{
      margin-top: 35px;
      a{
        &:last-child{
          margin-top: 10px;
        }
      }
    }
  }
  &__bottom{
    position: absolute;
    bottom: 0;
    z-index: 12;
    width: 100%;
    .col{
      &.active{
        background:rgba(5, 118, 184, 0.8);
        &:nth-of-type(2) {
          background: rgba(237, 27, 36, 0.8);
        }
        &:nth-of-type(3) {
          background: rgba(31, 175, 80, 0.8);
        }
        &:nth-of-type(4) {
          background:rgba(249, 170, 49, 0.8);
        }
        &:nth-of-type(5) {
          background:rgba(0, 183, 199, 0.8);
        }
      }
      &:hover{
        background:rgba(5, 118, 184, 0.8);
        &:nth-of-type(2) {
          background: rgba(237, 27, 36, 0.8);
        }
        &:nth-of-type(3) {
          background: rgba(31, 175, 80, 0.8);
        }
        &:nth-of-type(4) {
          background:rgba(249, 170, 49, 0.8);
        }
        &:nth-of-type(5) {
          background:rgba(0, 183, 199, 0.8);
        }
      }
    }
    &__item{
      width: 100%;
      color: $blanco;
      display: flex;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      justify-content: left;
      align-items: center;
      padding: 8px 30px;
      &:hover{
        text-decoration: none;
      }

      img{
        width: 60px;
      }
      h4{
        font-weight: 400;
        color: $blanco;
        margin-bottom: 0;
        font-size: 0.6rem;
        line-height: 1.063rem;
        text-transform: uppercase;
      }
    }
  }
  &__content{
    position: relative;
    padding: 60px 0px;
    &:after{
      content: "";
      width: 100%;
      height: 70%;
      position: absolute;
      bottom: 0;
      background-color:$plomo;
      z-index: -1;
    }
    h2{
      margin-bottom: 50px;
      margin-left: 33px;
    }
    &__filtro{
      label{
        color: $colorP;
        font-size: 0.875rem;
        line-height: 1.563rem;
        display: block;
        text-align: right;
      }
      .buscar{
        position: absolute;
        right: 0;
        height: 36px;
        width: 40px;
        top: 0;
        margin: auto;
        display: inline-block;
        bottom: 0;
        background: $plomo;
        border:1px solid transparent;
        &:focus{
          outline: none;
        }
        i{
          color: $rojo;
        }
      }
      input{
        width: 100%;
        padding: 14px 10px;
        color: rgba(100, 110, 137, 0.7);
        border-radius: 0;
        font-size: 0.813rem;
        line-height: 1rem;
        letter-spacing: 1px;
        border:1px solid transparent;
        border-bottom: 1px solid rgba(5, 0, 64, 0.07);
        &:focus{
          outline: none;
        }
        &::placeholder{
          color: rgba(100, 110, 137, 0.7);
        }
      }
    }
    &__card{
      width:100%;
      display: block;
      transition: all 2s;
      margin-bottom: 30px;
      box-shadow: 0px 8px 10px rgba(32, 51, 103, 0.03);
      &:hover &__img{
        .logo__empresa{
          opacity: 1;
        }
      }

      &__img{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height:270px;
        position: relative;
        .logo__empresa{
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all .5s;
          background: rgba(255, 53, 66, 0.9);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &__texto{
        background-color: $blanco;
        font-family: $lato;
        padding: 40px 45px;
        min-height: 213px;
        transition: all 0.5s;
        span{
          color: $rojo;
          text-transform: uppercase;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 0.875rem;
          display: block;
          margin-bottom: 6px;
        }
        h3{
          color: $azul;
          font-size: 1.125rem;
          font-weight: 900;
          line-height: 1.75rem;
        }
        .botones{
          a{
            color: $azul;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 1rem;
            font-size: 0.813rem;
            font-weight: 900;
            margin-right: 20px;
            &:hover{
              text-decoration: none;
              color: $rojo;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  &__interna{
    padding: 0;
    margin-top: 110px;
    &__top{
      padding:50px 0px;
      .botton{
        &:after{
          transform: rotate(180deg);
          top:40%;
        }
      }
      h2{
        font-size: 1.4rem;
        line-height: 2.3rem;
        color: $colorP;
        width: 88%;
        margin: auto;
        margin-top: 50px;
        font-weight: 300;
      }
      .logo{
        margin-top: 50px;
      }
      &__img{
        width: 100%;
        display: block;
        height: 84vh;
        background-size: cover;
        background-position: center;
        position: relative;
        &:hover .zoom{
          opacity: 1;
        }
        .zoom{
          position: absolute;
          width: 100%;
          transition: all .3s;
          height: 100%;
          opacity: 0;
          background:rgba(255, 53, 66, 0.86);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &__item{
      position: relative;
      padding: 74px 0px;
      &:after{
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color:$plomo;
        z-index: -1;
      }
      &__content{
        background: $blanco;
        border: 1px solid #F4F5F7;
        padding:63px 30px;
        height: 340px;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 30px;
        box-shadow: 0px 8px 10px rgba(32, 51, 103, 0.03);
        span{
          display: block;
          color: $rojo;
          text-transform: uppercase;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 0.875rem;
          display: block;
          margin-top: 26px;
          margin-bottom: 10px;
        }
        p{
          width: 100%;
          margin: auto;
        }
        .botton{
          font-size: 0.813rem;
        }
        a,p{
          display: inline-block;
          text-decoration: none;
          color: $azul;
          font-size: 1rem;
          line-height: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
}

.buscador{
  margin: 0px 15px;
  position: relative;
  padding-bottom: 15px;
}

.ocultoResponsive{
  display: none;
}


@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .empresa{
    &__titulo{
      .botones{
        a{
          &:last-child{
            margin-left: 10px;
            margin-top: 0;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .ocultoResponsive{
    display: block;
  }
  .buscador{
    margin: 0px;
    padding-bottom: 0px;
  }
  .empresa{
    &__content{
      padding: 80px 0px;
      &__card{
        &__img{
          height: 220px;
        }
      }
    }
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .empresa{
    height: 660px;
    &__titulo{
      padding: 0px;
      width: 40%;
      left: 7%;
      img{
        width: auto;
      }
      p{
        width: 68%;
      }
    }
    &__interna{
      &__top{
        padding: 70px 0px;
        h2{
          width: 68%;
        }
      }
    }

    &__content{
      &__filtro{
        label{
          font-size: 0.64em;
        }
      }
      &__card{
        &__img{
          height: 220px;
          .logo__empresa{
            img{
              width: 111px;
            }
          }
        }
        &__texto{
          padding: 28px 35px;
          .botones{
            a{
              font-size: 0.683rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .empresa{
    height:  936px;
    &__titulo{
      width: 28%;
    }
    &__interna{
      &__top{
        padding:100px 0px;
        p{
          width: 86%;
        }
        h2{
          font-size: 1.875rem;
          line-height: 2.813rem;
          width: 60%;
        }
        a,p{
          font-size: 1.125rem;
          line-height: 1.375rem;
        }
      }
    }

    &__bottom{
      &__item{
        img{
          width: auto;
        }
        h4{
          font-size: 0.875rem;
        }
      }
    }
    &__content{
      padding: 100px 0px;
      &__filtro{
        label{
          font-size: 0.875rem;
        }
      }
      &__card{
        &__img{
          height:336px;
          .logo__empresa{
            img{
              width: auto;
            }
          }
        }
        &__texto{
          padding: 40px 45px;
          .botones{
            a{
              font-size: 0.813rem;
            }
          }
        }
      }
    }
  }
}
