::selection {
    background: $rojo;
    color: $azul;
  }

::-webkit-scrollbar {
    width: 9px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
::-webkit-scrollbar-thumb {
    background: $rojo;
    border-radius: 6px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: $azul;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: $rojo;
}

.m-top{
  margin-top: 40px;
}

.activo{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -7px;
    margin: auto;
    height: 1px;
    background: $rojo;
  }
}

.sticky{
  position: sticky;
  top: 8rem;
}

.parrafoCentrado{
  position: relative;
  padding: 40px 20px;
  p{
    font-size: 1rem;
    line-height: 2rem;
    justify-content: center;
    position: relative;
    img{
      position: absolute;
      left: -50px;
    }
  }
  .cuadrado{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.empresas{
  &__carousel{
    padding: 0;
    .conoce{
      &__responsive{
        height: 100vh;
      }
    }
  }
  .conoce{
    padding: 0;
    &__card{
      &:after{
        height: 100vh !important;
      }
    }
    &__cambioImagen{
      height: 100vh !important;
    }
  }
}

p{
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: $colorP;
  a{
    color: $colorP;
    font-weight: 900;
    text-decoration: underline;
    &:hover{
      color: $rojo;
    }
  }
}

.progress{
  background-color: rgba(5, 0, 64, 0.05);
  height: 2px;
  &-bar{
    background-color: $rojo;
  }
}

.listadoPDF{
  margin: 0;
  padding-left: 20px;
  li{
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: $colorP;
    padding: 7px;
  }
}

  .banner{
      height: 400px;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      margin-top: 90px;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(5, 0, 64, 0.4) 0%, rgba(5, 0, 64, 0) 100%);
        mix-blend-mode: multiply;
        top: 0;
        z-index: 1;
      }
      .scroll-down{
        color: #fff;
        cursor: s-resize;
        padding: 45px 0;
        left: 0;
        width: calc(87% - 560px);
        bottom: 0;
        position: absolute;
        text-decoration: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 12;
        display: block;
        //width: calc(50% - 560px);
        &:hover svg.circle circle{
          stroke-dashoffset: 95;
        }
        &:hover svg.arrow{
          top: 75px;
        }
        &:hover i:before{
          height: 75px;
        }
        svg{
          &.arrow{
            margin: 0 auto;
            right: 0;
            left: 0;
            position: absolute;
            width: 7px;
            height: 5px;
            top: 66px;
            transition: top .6s cubic-bezier(.77,0,.175,1);
            z-index: 1;
            g{
              path{
                transition: fill .6s cubic-bezier(.77,0,.175,1);
              }
            }
          }
          &.circle{
            opacity: .5;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            width: 35px;
            height: 35px;
            transform: rotate(-90deg);
            z-index: 0;
            circle{
              stroke: #fff;
              stroke-dasharray: 95;
              stroke-dashoffset: 0;
              transition: all .6s ease-in;
            }
          }
        }
        i{
          display: block;
          margin: auto;
          position: relative;
          width: 35px;
          height: 84px;
          text-align: center;
          &:before{
            background: #fff;
            content: "";
            margin: 0 auto;
            right: 0;
            left: 0;
            position: absolute;
            width: 1px;
            height: 60px;
            top: 0;
            transition: all .6s cubic-bezier(.77,0,.175,1);
            z-index: 1;
          }
        }
      }
      &__titulo{
          color: $blanco;
          position: absolute;
          top: 0;
          left: 0%;
          bottom: 0;
          z-index: 12;
          padding: 40px 40px;
          width: 100%;
          height: 100%;
          margin: auto;
          display: flex;
          align-items: center;
          h1{
            margin-top: 30px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.375rem;
            line-height: 2.6rem;
            span{
              font-weight: 300;
            }
          }
          p{
            width:100%;
            font-size: 15px;
            line-height: 25px;
            color: $blanco;
          }
      }
  }

  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 11px;
    color:$azul;
    width:100%;
    letter-spacing: 2px;
    font-weight: 800;
    height: 50px;
    text-transform: uppercase;
  }
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $plomo;
    padding: 19px 15px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 13px;
    letter-spacing: 2px;
    font-size: 11px;
    @include transition(all 0.2s ease-in);
    &:after {
      content:"";
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-color: $rojo transparent transparent transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      margin: auto;
    }
    &:hover {
      background-color: darken($plomo, 2);
    }
    &:active, &.active {
      background-color: darken($plomo, 5);
      &:after {
        border-color: transparent transparent $rojo transparent;
      }
    }
  }

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 12;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken($plomo, 5);
    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      border-top: 1px solid darken($plomo, 10);

      @include transition(all 0.15s ease-in);
      &:hover {
        color: $azul;
        background: $plomo;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }

 .secciones{
    padding: 0;
    .row{
      padding-top: 0px;
      position: relative;
      &:after{
        content: "";
        width: 87px;
        display: none;
        height: 154px;
        top: 0;
        right: 11px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../images/iconos/fondo-cuadrado.png');
        position: absolute;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        .owl-sostenibilidad{
          .owl-dots{
            // right: auto;
            // left: 0;
            right: 0;
            left: 0;
          }
        }
        &:after{
          left:28px;
        }
     }
     .owl-sostenibilidad{
       .owl-dots{
         position: absolute;
         bottom: 26px;
         right: 0;
         left: 0;
         margin: auto;
         text-align: center;
         .owl-nav{
           display: none !important;
         }
         .owl-dot{
           width: 7px;
           height: 7px;
           border-radius: 50%;
           margin: 0px 15px;
           background: $azul;
           position: relative;
           &:hover{
             background: $rojo;
           }
           &:focus{
             outline: none;
           }
           &:before{
             content: "";
             width: 17px;
             height: 17px;
             border-radius: 50%;
             background: rgba(0, 0, 255, 0);
             top: -5px;
             position: absolute;
             left: -5px;
             border: 2px solid  rgba(0, 0, 255, 0);
           }
           &.active{
             background: $azul;
             &:before{
               border: 2px solid $rojo;
             }
           }
         }
       }
     }
    }

    &--padding{
      padding: 50px;
    }
    &__content{
      padding: 40px 30px;
      .titulo{
        margin-left: 35px;
      }
      &__item{
        padding-top: 10px;
        span{
          color: $rojo;
          text-transform: uppercase;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 0.875rem;
          display: block;
          margin-bottom: 20px;
        }
        h5{
          color: $azul;
          text-align: justify;
          font-weight: 900;
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
      }
      p{
        text-align: justify;
        font-weight: 500;
        color: $colorP;
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
      .botton{
        margin-top: 20px;
      }
    }
 }


.modal{
  background: rgba(5, 0, 64, 0.9);
  &-content{
    padding: 0;
    border:1px solid $azul;
    border-radius:0;
  }
  &__escribenos{
    .modal-body{
      .contacto{
        &__content{
          padding:47px 30px;
        }
      }
    }
  }
  &__video{
    .modal-body{
        height: 247px;
    }
  }
  &-body{
    position: relative;
    padding: 0;
    border-radius: 0;
    .close{
      position: absolute;
      top:0px;
      right: 0;
      background: $blanco;
      opacity: 1;
    }
  }
  &__video{
    iframe{
      width: 100%;
      height: 100%;
    }
  }
}

.barra-hamburger{
  position: fixed;
  background: $blanco;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  z-index: 123;
  img{
    width: 120px;
  }

}

@media (min-width: 576px) {
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner{

    height: 420px;
    .scroll-down{
      width: calc(66% - 560px);
    }
    &__titulo{
      width: 48%;
    }
  }

  .secciones{
    .row{
      padding-top: 76px;
    }
    &__content{
      .titulo{
        margin-left: 0;
      }
    }
    &--padding{
      padding: 0px;
    }
  }
  .modal{
    &__video{
      .modal-body{
          height: 480px;
      }
      .modal-dialog {
          max-width: 750px;
      }
    }
  }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .banner{
    .scroll-down{
      width: calc(50% - 560px);
    }
  }
  .secciones{
    padding: 140px 0px;

    .row{
      &:after{
        display: block;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        .owl-sostenibilidad{
          .owl-dots{
            right: auto;
            left: 0;
          }
        }
        &:after{
          left:28px;
        }
     }
      .owl-sostenibilidad{
        .owl-dots{
          bottom: -46px;
          right: 6px;
          left: auto;

        }
      }
    }
    &__content{
      padding: 30px 80px;
      p{
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
    }
    .container-fluid{
      padding: 0;
    }
  }
  .modal{
    &__video{
      .modal-body{
          height: 447px;
      }
    }
    &__escribenos{
      .modal-dialog {
          max-width: 770px;
      }
      .modal-body{
        .contacto{
          &__content{
            padding:40px 60px;
          }
        }
      }
    }
  }
 }


@media (min-width:1350px){
  .secciones{
    padding: 70px 0px;
    .row{
      &:after{
        display: block;
      }
    }
    &__content{
      padding: 30px 100px;
      &__item{
        padding-top: 30px;
        h5{
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }
      p{
        font-size: 0.8rem;
        line-height: 1.4rem;

      }
    }
    .container-fluid{
      padding: 0;
    }
  }
  .banner{
    height: 650px;
    margin-top: 0px;
    &__titulo{
      width: 32%;
      left: 5%;
      padding: 0;
      p{
        width: 68%;
      }
      h1{
        margin-top: 0;
        font-size: 3.375rem;
        line-height:4.625rem;
      }
    }
  }
}

@media (min-width: 1600px){
  .parrafoCentrado{
    padding: 40px 0px;
    p{
      font-size: 1.25rem;
      line-height: 2.188rem;
    }
  }
  .modal{

    &__video{
      .modal-body{
          height: 647px;
      }
      .modal-dialog {
          max-width: 1200px;
      }
    }
    &__escribenos{
      .modal-dialog{
        max-width: 1075px !important;
      }
      .modal-body{
        .contacto{
          &__content{
            padding: 67px 110px;
          }
        }
      }
    }
  }
  p{
    font-size: 0.938rem;
    line-height: 1.563rem;
  }
.listadoPDF{
  li{
    font-size: 0.938rem;
    line-height: 1.563rem;
  }
}

  .modal-dialog {
      max-width: 1200px;
  }

  .secciones{
    padding: 140px 0px;
    &__content{
      padding: 30px 154px;
      p{
        font-size: 0.938rem;
        line-height: 1.563rem;
      }
    }
  }

  .banner{
    height: 937px;
    &__titulo{
      width: 28%;
      left: 7%;
      padding: 0;
      p{
        width: 68%;
      }
      h1{
        margin-top: 0;
        font-size: 4.375rem;
        line-height: 5.625rem;
      }
    }
  }
}
