.historia{
  background: $azul;
  padding: 80px 0px 20px 0px;
  &-content{
    color: $blanco;
    &__texto{
      position: relative;
      padding: 50px 30px;
      .titulo{
        color: $blanco !important;
      }
      .item{
        position: relative;
        &:after{
          content: "";
          width: 100%;
          height: 125px;
          position: absolute;
          bottom: -64px;
          background: linear-gradient(180deg, rgba(5, 0, 64, 0) 13.54%, #050040 40.1%);
          mix-blend-mode: normal;
        }
        span{
          position: absolute;
          color: $blanco;
        }
        &__texto{
          margin-left: 50px;
          padding-right: 20px;
          max-height: 285px;
          overflow: auto;
          position: relative;
          &::-webkit-scrollbar {
              width: 3px;     /* Tamaño del scroll en vertical */
              height: 8px;    /* Tamaño del scroll en horizontal */
          }
          &::-webkit-scrollbar-thumb {
              background: $rojo;
          }
          /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
          &::-webkit-scrollbar-thumb:hover {
              background: $azul;
          }

          /* Cambiamos el fondo cuando esté en active */
          &::-webkit-scrollbar-thumb:active {
              background-color: $rojo;
          }
          p{
            color: $blanco;
            text-align: justify;
          }
        }
      }
      .anio{
        &__grande{
          position: absolute;
          font-weight: 900;
          font-size: 90px;
          opacity: 0.1;
          color: $blanco;
          top: -44px;
          left: 20px;
          line-height: 192px;
        }
      }
    }
    &__img{
      padding:0px 80px;
    }
  }
  &-nav{
    color: $blanco;
    &__item{
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 900;
      height: 76px;
      position: relative;
      &:before,
      &:after{
        content: "";
        width: 50%;
        position: absolute;
        height: 1px;
        border:2px dashed $blanco;
        opacity: 0.3;
        top: 0;
        margin: auto;
        bottom: 0;
      }
      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }
      .circulo{
        position: absolute;
        top: 35px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #fff;
        -webkit-transition: .2s;
        transition: .2s;
        &:before{
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          border:2px solid transparent;
          border-radius: 50%;
          left: -6px;
          top: -6px;
        }
      }
    }
  }
  .slick{
    &-current{
      color: $rojo;
      position: relative;
      .historia-nav{
        &__item{
          &:before{
            background-color: $rojo;
            opacity: 1;
            border:1px dashed transparent;
          }
          .circulo{
            &:before{
              border:2px solid $rojo;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 576px) {
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
 }

@media (min-width: 1600px) {
  .historia{
    &-content{
      &__texto{
        padding: 90px;
        .item{
          &__texto{
            max-height: 500px;
            padding-right: 40px;
          }
        }
        .anio{
          &__grande{
            font-size: 160px;
            left: -30px;
          }
        }
      }
      &__img{
        padding: 0;
      }
    }
    &-nav{
      margin-top: 20px;
    }
  }

}
@media (min-width: 1700px) {


}
