$blanco:#fff;
$rojo:#FF3542;
$azul:#050040;
$plomo: #F4F5F7;
$colorP:#646E89;
$lato:'Lato', sans-serif;
body{
    overflow-x: hidden;
    counter-reset: my-sec-counter;
    font-family: $lato;
}

.scroll-down{
  color: #fff;
  cursor: s-resize;
  padding: 45px 0;
  //right: 6vw;
  left: 0;
  width: calc(50% - 560px);
  bottom: 3rem;
  position: absolute;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  z-index: 12;
  //width: calc(50% - 560px);
  &:hover svg.circle circle{
    stroke-dashoffset: 95;
  }
  &:hover svg.arrow{
    top: 75px;
  }
  &:hover i:before{
    height: 75px;
  }
  svg{
    &.arrow{
      margin: 0 auto;
      right: 0;
      left: 0;
      position: absolute;
      width: 7px;
      height: 5px;
      top: 66px;
      transition: top .6s cubic-bezier(.77,0,.175,1);
      z-index: 1;
      g{
        path{
          transition: fill .6s cubic-bezier(.77,0,.175,1);
        }
      }
    }
    &.circle{
      opacity: .5;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 35px;
      height: 35px;
      transform: rotate(-90deg);
      z-index: 0;
      circle{
        stroke: #fff;
        stroke-dasharray: 95;
        stroke-dashoffset: 0;
        transition: all .6s ease-in;
      }
    }
  }
  i{
    display: block;
    margin: auto;
    position: relative;
    width: 35px;
    height: 84px;
    text-align: center;
    &:before{
      background: #fff;
      content: "";
      margin: 0 auto;
      right: 0;
      left: 0;
      position: absolute;
      width: 1px;
      height: 60px;
      top: 0;
      transition: all .6s cubic-bezier(.77,0,.175,1);
      z-index: 1;
    }
  }
}
.slider{
  margin-top: 90px;
  .item{
    overflow: hidden;
  }
  .owl-dots{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    display: none;
    height: 228px;
    top: 0;
    margin: auto;
    button{
      width: 22px;
      height: 1px;
      margin: 55px 0px;
      display: block;
      background-color: rgba(255, 255, 255, 0.48);
      position: relative;
      &:focus{
        outline: none;
      }
    }
    .owl-dot{
      &:before{
        counter-increment: my-sec-counter;
        content: "0" counter(my-sec-counter);
        color: $blanco;
        right: -27px;
        top: -8px;
        font-size: 0.813rem;
        line-height: 1rem;
        font-weight: 900;
        letter-spacing: 2px;
        position: absolute;
        transition: all .5s;
      }
      &.active{
        background-color: $rojo;
        width: 41px;
        &:before{
          color: $rojo;
          font-size: 1.25rem;
          right: -37px;
        }
      }
    }
  }
  &__content{
    height: 50vh;
    position: relative;
    background-size: cover;
    .single-slider{
      background-attachment: scroll;
      background-clip: border-box;
      background-origin: padding-box;
      background-position: 50% 50% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;
    }
    .zoom{
      animation: zoom 10s ease 0s normal both infinite;
      -webkit-animation: zoom 10s ease 0s normal both infinite;
      -moz-animation: zoom 10s ease 0s normal both infinite;
      -ms-animation: zoom 10s ease 0s normal both infinite;
      -o-animation: zoom 10s ease 0s normal both infinite;
    }

    @keyframes zoom {
      0%   {transform: scale(1.1);}
      50%  {transform: scale(1);}
      100% {transform: scale(1.1);}
    }
    &__item{
      left: 0%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      .centrado{
        position: absolute;
        left: 0%;
        width: 100%;
        padding: 30px;
        .icono{
          width: auto !important;
        }
      }
      &__titulo{
        font-size: 2rem;
        color: $blanco;
        font-family: $lato;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 300;
        span{
          font-weight: bold;
        }
      }
    }
  }
}

.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 1.2em;
    font-size: 22px;
    color: rgba(#fff, .5);
    border-radius: 2em;
    border: solid 2px;
    transition: .4s;
    &:hover{
      background-color: rgba(#fff, .05);
      color: #fff;
    }
}

  .scroll-icon::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  @keyframes scroll-icon {
      0% { transform: translateY(-12px); opacity: 0; }
     30%, 70% { opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
  }



  section{
    padding: 80px 0;
  }

  .titulo{
    font-family: $lato;
    color: $azul;
    display: inline-block;
    text-transform: uppercase;
    &--grande{
      font-size: 1.748rem;
      line-height:2.2rem;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      color: $blanco;
      img{
        position: absolute;
        top: 7px;
        left: -55px;
        width: 28px !important;
      }
      span{
        font-weight: bold;
      }
    }
    &--mediano{
      font-weight: 300;
      position: relative;
      font-size: 1.3rem;
      line-height: 2rem;
      img{
        position: absolute;
        top: 3px;
        left: -28px;
        width: 17px !important;
      }
      span{
        font-weight: bold;
      }
    }
    &--chico{
      font-size:1.1rem;
      line-height: 1.5rem;
      display: block;
    }
  }
  .parrafo{
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-family: $lato;
  }



  .botton{
    letter-spacing: 2px;
    line-height: 1em;
    position: relative;
    text-decoration: none;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.813rem;
    display: inline-block;
    padding: 1.2em 46px 1.2em 20px;
    &:hover{
      text-decoration: none;
    }
    &:hover:before{
      width:100%;
    }
    &:before{
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 35px;
      height: 100%;
      transition: width .5s cubic-bezier(.77,0,.175,1);
      z-index: -1;
    }
    &:after{
      content: "";
      display: block;
      width: 21px;
      height: 7px;
      top: 50%;
      right: 12px;
      position: absolute;
      transform: translateY(-50%);
      font-size: 1.2em;
      text-decoration: none;
    }
    &--normal{
      color: $azul;
      &:hover{
        color: $azul;
      }
      &:before{
        background: #050040;
        opacity: 0.07;
      }
      &:after{
        background-image: url('images/iconos/flecharojo.png');
      }
    }
    &--blanco{
      color: $blanco;
      &:hover{
        color: $blanco;
      }
      &:before{
        background:rgba(255, 255, 255, 0.14);
      }
      &:after{
        background-image: url('../images/iconos/flechaBlanco.png');
      }
    }
    &--completo{
      color: $blanco;
      &:hover{
        color: $blanco;
      }
      &:before{
        background:rgba(255, 255, 255, 0.14);
        width: 100%;
      }
      &:after{
        background-image: url('../images/iconos/flechaBlanco.png');
      }
    }
  }

  .header{
    background: $blanco;
    position: fixed;
    width: 100%;
    z-index: 123;
    height: 90px;
    display: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    top:0;
    &__social{
      display: flex;
      justify-content: center;
      width: 100%;
      a{
        color: $azul;
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: 900;
        letter-spacing: 2px;
      }
      .idiomas{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        margin-right: 10px;
        a{
          position: relative;
          padding-right: 20px;
          &.active{
            color: $rojo;
          }
          &:before{
            content: "";
            width: 6px;
            height: 1px;
            background: rgba(5, 0, 64, 0.3);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }
          &:last-child{
            margin-right: 0px;
            margin-left: 13px;
            &:before{
              background: transparent;
            }
          }
        }
      }
      .redes{
        a{
          width:30px;
          height:30px;
          border-radius: 50%;
          border:1px solid rgba(5, 0, 64, 0.18);
          display: inline-block;
          text-align: center;
          margin-right: 10px;
          padding-top: 7px;
          i{
            font-size: 14px;
          }
          &:last-child{
            margin-right: 0px;
          }
        }
      }
    }
    &__logo{
      margin-left: 10px;
      img{
        width: 130px;
      }
    }
    &__links{
      display: flex;
      height: 90px;
      margin-left: 14px;
      align-items: center;
      ul{
        padding: 0;
        margin: 0;
        padding-right: 20px;
        list-style: none;
        li{
          display: inline-block;
          a{
            font-size:0.68rem;
            line-height:1rem;
            font-family: $lato;
            font-weight: 900;
            letter-spacing: 2px;
            color: $azul;
            text-transform: uppercase;
            margin: 0px 5px;
            text-decoration: none;
            position: relative;
            transition: all .5s;
            &:hover:before{
              width: 100%;
            }
            &:before{
              content: "";
              width:0%;
              height: 1px;
              transition: all .5s;
              background: $rojo;
              position: absolute;
              right: 0;
              top: 0;
              left: 0;
              bottom: -28px;
              margin: auto;
            }
            &.active{
              &:before{
                width:100%;
              }
            }
          }
        }
      }
    }
    &__isotipo{
      padding: 0 0.5rem 0 1.5rem;
    }
  }

  $timing        : 265ms;
  $iconColor     : #00B5F5;
  $accent        : #002A8F;
  $bluefade      : #0043E0;
  $gradient      : #00B5F5;

  @mixin transformScale($size: 1) {
      transform: scale($size);
      -ms-transform: scale($size);
      -webkit-transform: scale($size);
  }


.conoce{
  padding: 50px 0px;
  &__responsive{
    height: 450px;
    background-position: center;
    background-size: cover;
    &__color{
      height: 100%;
      width: 100%;
      position: absolute;
    }
    &__texto{
      height: 100%;
      padding: 30px;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      width: auto !important;
    }
    h3{
      font-size: 1.5rem;
    }
    h3,p{
      color: $blanco;
    }
  }
  .titulo{
    margin-left: 40px;
    margin-bottom: 40px;
  }
  &__cambioImagen{
    width: 100%;
    height: 580px;
    display: none;
    transition: all 0.3s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__card{
    width: 20%;
    float: left;
    position: relative;
    height: 100%;
    &:after{
      content: "";
      position: absolute;
      background: #050040;
      mix-blend-mode: multiply;
      opacity: 0.4;
      height: 580px;
      transition:all 3s;
      width: 100%;
    }
    &:hover &__hover{
      height: 100%;
      color: $blanco;
      padding: 60px 20px;
      p{
        opacity: 0.8;
      }
    }
    &:hover &__content{
      &__titulo{
        opacity: 0;
      }
    }
    &__content{
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: 1px solid rgba(255, 255, 255, 0.38);
      &__titulo{
        transition: all 0.2s;
        position: absolute;
        bottom: 20px;
        padding: 20px 40px;
        z-index: 1;
        h3{
          font-weight: 400;
          color: $blanco;
          font-size: 0.8rem;
          line-height: 1.188rem;
          text-transform: uppercase;
        }
      }
    }
    &__hover{
      width: 100%;
      background: rgba(12, 31, 102, 0.85);
      position: absolute;
      bottom: 0;
      height: 0.5%;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      text-align: center;
      color: transparent;
      z-index: 12;
      h3{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.188rem;
        margin-bottom: 18px;
        text-transform: uppercase;
      }
      p{
        font-size: 0.938rem;
        line-height: 1.563rem;
        opacity: 0;
        font-weight: 400;
        margin-bottom: 24px;
        color: $blanco;
      }
    }
  }
}

.novedades{
  position: relative;
  padding: 50px 0px;
  .titulo{
    margin-left: 35px;
  }
  &__botton{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  &--width{
    &:after{
      height: 88% !important;
    }
    .row{
      &:nth-child(odd){
        flex-direction: row-reverse !important;
     }
    }
    .novedades__card{
      width: 100% !important;
    }
  }
  &:after{
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color:$plomo;
    z-index: -1;
  }
  .owl-novedades{
    .owl-nav{
      margin-top: 40px;
      .owl-prev{
        background-image: url('../images/iconos/flechaRojoGrande.png');
        height: 11px;
        width: 30px;
        margin-right: 20px;
        background-size: cover;
        transform: rotate(180deg);
        &:hover{
          background-image: url('../images/iconos/flechaAzul.png');
          transform: rotate(0deg);
        }
        &:focus{
          outline: none;
        }
        span{
          display: none;
        }
      }
      .owl-next{
        background-image: url('../images/iconos/flechaRojoGrande.png');
        height: 11px;
        width: 30px;
        &:focus{
          outline: none;
        }
        &:hover{
          background-image: url('../images/iconos/flechaAzul.png');
          transform: rotate(180deg);
        }
        span{
          display: none;
        }
      }
    }
  }
  &__card{
    width:auto;
    display: block;
    transition: all 2s;
    margin-bottom: 30px;
    box-shadow: 0px 8px 10px rgba(32, 51, 103, 0.03);
    &:hover{
      text-decoration: none;
    }
    &:hover &__content{
      background: $rojo;
      color: $blanco;
      span{
        color: $blanco;
      }
      h3{
        color: $blanco;
      }
    }
    &__img{
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      height:387px;
    }
    &__content{
      background-color: $blanco;
      font-family: $lato;
      padding: 35px 30px;
      height: 180px;
      transition: all 0.5s;
      span{
        color: $rojo;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0.875rem;
        display: block;
        margin-bottom: 20px;
      }
      h3{
        color: $azul;
        font-weight: 900;
        font-size: 0.9rem;
        line-height: 1.4rem;
      }
    }
  }
  &__interna{
    padding: 0;
    &__top{
      border-bottom: 1px solid $plomo;
      margin-top: 90px;
      .item{
        h2{
          color: $azul;
          margin-top: 30px;
          font-size: 1.5rem;
          line-height: 2.25rem;
        }
        span{
          color: $rojo;
          text-transform: uppercase;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 0.875rem;
          display: block;
          margin-top: 25px;
        }
      }
      .botton{
        &:after{
          transform: rotate(180deg);
          top:40%;
        }
      }
    }
    &__bottom{
      padding: 70px 0px 0px;
      .contenido{
        padding: 0px 20px;
        padding-bottom: 50px;
        p{
          text-align: justify;
        }
      }
      .compartir{
        padding:40px 0px;
        width: 100%;
        span{
          color: $azul;
          display: block;
          text-align: center;
          font-size: 0.75rem;
          line-height: 1.563rem;
        }
        ul{
          display: flex;
          justify-content: center;
          padding: 0;
          margin-top: 20px;
          li{
            display: inline-block;
            padding: 0px 10px;
            a{
              width: 45px;
              height: 45px;
              border-radius: 50%;
              border: 1px solid rgba(5, 0, 64, 0.11);
              display:flex;
              color: $azul;
              text-decoration: none;
              justify-content: center;
              align-items: center;
              transition: all .3s;
              &:hover{
                color: $blanco;
                transform: rotate(360deg) scale(1.1);
                background: $azul;
              }
            }
          }
        }
      }
      .flechas{
        width: 100%;
        height: 98px;
        a{
          border-top:1px solid rgba(5, 0, 64, 0.1);
          border-bottom:1px solid rgba(5, 0, 64, 0.1);
          border-right:1px solid rgba(5, 0, 64, 0.1);
          color: $azul;
          text-transform: uppercase;
          font-size: 0.813rem;
          line-height: 1rem;
          font-weight: 900;
          text-align: right;
          padding: 40px 26px;
          float: left;
          width: 50%;
          letter-spacing: 2px;
          display: inline-block;
          text-decoration: none;
          &:hover{
            color: lighten($azul,10);
          }
          img{
            margin-right: 10px;
            transform: rotate(180deg);
          }
          &:last-child{
            border-right:1px solid transparent;
            text-align: left;
            img{
              transform: rotate(0deg);
              margin-right: 0px;
              margin-left: 10px;
            }
          }
        }
      }
      .owl-interna{
        margin-top: 100px;
        margin-bottom: 100px;
        .owl-dots{
          position: absolute;
          bottom: -50px;
          left: 0;
          right: 0;
          margin: auto;
          width: 50%;
          height: 34px;
          text-align: center;
          .owl-nav{
            display: none !important;
          }
          .owl-dot{
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin: 0px 15px;
            background: $azul;
            position: relative;
            &:hover{
              background: $rojo;
            }
            &:focus{
              outline: none;
            }
            &:before{
              content: "";
              width: 17px;
              height: 17px;
              border-radius: 50%;
              position: absolute;
              background: rgba(0, 0, 255, 0);
              top: -5px;
              left: -5px;
              border: 2px solid  rgba(0, 0, 255, 0);
            }
            &.active{
              background: $azul;
              &:before{
                border: 2px solid $rojo;
              }
            }
          }
        }
      }
    }
  }
  &__filtro{
    background: $blanco;
    padding: 50px 30px;
    margin-bottom: 30px;
    border:1px solid $plomo;
    box-shadow: 0px 8px 10px rgba(32, 51, 103, 0.03);
    label{
      color: $colorP;
      font-size: 14px;
      line-height: 25px;
    }
    .form-group{
      position: relative;
      input{
        width: 100%;
        padding: 14px 10px;
        color: rgba(100, 110, 137, 0.7);
        border-radius: 0;
        font-size: 0.813rem;
        line-height: 1rem;
        letter-spacing: 1px;
        border:1px solid transparent;
        border-bottom: 1px solid rgba(5, 0, 64, 0.07);
        &:focus{
          outline: none;
        }
        &::placeholder{
          color: rgba(100, 110, 137, 0.7);
        }
      }
      .buscar{
        position: absolute;
        right: 0;
        height: 40px;
        width: 40px;
        top: 0;
        margin: auto;
        bottom: 0;
        background: $plomo;
        border:1px solid transparent;
        &:focus{
          outline: none;
        }
        i{
          color: $rojo;
        }
      }
    }
  }
}

  .video{
    background-image: url('../images/bg/bg-video.jpg');
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    &__content{
      height: auto;
      padding: 60px 0px 0px 55px;
    }
    .play{
      position: absolute;
      width: 100%;
      height: 40vh;
      left: 0;
      .icono{
        position: absolute;
        width: 150px;
        height: 150px;
        background:rgba(255, 255, 255, 0.54);
        margin: auto;
        border-radius: 50%;
        animation: shadow-pulse 1s infinite;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 2s;
        &__circulo{
          width: 137.6px;
          height: 137.6px;
          background:$blanco;
          position: absolute;
          top: 0;
          transition: all .4s;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border-radius: 50%;
          color: $rojo;
          display: flex;
          justify-content: center;
          align-items: center;
          i{
            font-size: 30px;
          }
        }
        &:hover .icono__circulo{
          background: $rojo;
          transform: rotate(360deg);
          i{
            color: $blanco;
            font-size: 32px;
          }
        }
      }
    }
  }
  @keyframes shadow-pulse{
    0%{
      width: 150px;
      height: 150px;
    }
    50%{
      width: 180px;
      height: 180px;
    }
    100%{
      width: 150px;
      height: 150px;
      background: transparent;
    }
  }

.donde{
  padding: 90px 0px 50px;
  .row{
    &:nth-child(odd){
      flex-direction: row-reverse !important;
   }
  }
  &__texto{
    padding:30px;
    position: relative;
    width: 100%;
    .pin{
      position: absolute;
      top: -54px;
      right: 56px;
    }
    h2{
      margin-bottom: 20px;
    }
    .botton{
      margin-top: 20px;
    }
  }
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    margin:0px 0.43rem;
    position: relative;
    font-size: 1.1em;
    i ,svg{
      color: $rojo;
      position: relative;
      transition: all $timing ease-out;
    }
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 7px;
      &:before {
        @include transformScale();
        content: " ";
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background:$azul;
        transition: all $timing ease-out;
      }
      &:hover:before {
        transform: scale(0);
        transition: all $timing ease-in;
      }

      &:hover i,
      &:hover svg {
        @include transformScale(1.5);
        color:$rojo;
        background:$rojo;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all $timing ease-in;
      }
    }
  }
}

  .p-right{
    padding-right:15px;
  }


  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .novedades{
      &__card{
        width:300px;
        &__img{
          height: 277px;
        }
      }
      &__interna{
        &__bottom{
          .flechas{
            a{
              padding: 40px;
            }
          }
        }
      }
    }
    .scroll-down{
      display: block;
    }
    .slider{
      .owl-dots{
        display: block;
      }
      &__content{

        height: 70vh;
        &__item{
          .centrado{
            left: 10%;
            width: 57%;
            padding: 0;
            .direccion{
              &__texto{
                p{
                  width: 65%;
                }
              }
            }
          }
          &__titulo{
            font-size: 4rem;
          }
        }
      }
    }
    .parrafo{
          font-size: 0.9rem;
    }
    .titulo{
      &--grande{
        font-size: 1.788rem;
        line-height: 2.513rem;
      }
    }

    .conoce{
      padding: 70px 0px;
      &__titulo{
        margin-left: 110px;
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {

    .social-icons{
      li{
        a{
          margin-bottom: 7px;
        }
      }
    }
    .video{
      height: 90vh;
      .play{
        height: 90vh;
        .icono{
          left: 5rem;
          right: auto;
        }
      }
      &__content{
        height: 90vh;

      }
    }
    .novedades{
      .titulo{

        margin-left: 114px;
      }
      &__interna{
        &__bottom{
          .contenido{
            padding: 0px;
            padding-bottom: 50px;
          }
        }

      }
    }
    .titulo{
      &--grande{
        font-size: 1.988rem;
      }
    }
    .parrafo{
      font-size: 1.125rem;
      line-height: 1.875rem;
    }
    .header{
      display: block;
    }

    .slider{
      &__content{
        height: 95vh;
      }
    }
   }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

    .owl-conoce{
      display: none !important;
    }
    .conoce{
      padding: 70px 0px;
      .titulo{
        margin-left: 80px;
      }
      .container-fluid{
        padding: 0;
      }
      &__cambioImagen{
        display: block;
      }
    }
    .donde{
      .container-fluid{
        padding: 0;
      }

      &__texto{
        padding: 0px 30px;
        width: 70%;
        .pin{
          top: -102px;
        }
      }
    }
    .novedades{
      .titulo{
        margin-left: 150px;
      }
      &__botton{
        text-align: right;
        margin-top: 0;

      }
    }
    .social-icons{
      li{
        a{
          margin-bottom: 0px;
        }
      }
    }

    section{
      padding: 70px 0;
    }

    .container {
      max-width: 1270px;
    }

    .titulo{
      &--mediano{
        img{
          top: 2px;
          left: -35px;
          width: 21px !important;
        }
      }
    }

    .header{
      &__links{
        ul{
          li{
            a{
              font-size:0.813rem;
            }
          }
        }
      }
      &__isotipo{
        padding: 0 1.375rem 0 2.25rem;
      }
      &__asesorate{
        padding: 0px 30px;
        span{
          display: inline-block;
        }
      }
    }
    .slider{
      &__item{
        &__titulo{
          font-size: 3rem;
        }
      }
    }
  }
  @media(min-width:1350px){
    .slider{
      margin-top: 33px;
      &__content{
        &__item{
          .centrado{
            width: 28%;
          }
          &__titulo{
            font-size: 3.5rem;
          }
        }
      }
    }
    .header{
      &__logo{
        margin-left: 34px;
        img{
          width: 120px;
        }
      }
      &__social{
        a{
          font-size: 0.813rem;
        }
        .idiomas{
          margin-right: 20px;
        }
        .redes{
          a{
            width: 40px;
            height: 40px;
            margin-right: 20px;
            padding-top: 11px;
            i{
              font-size: 17px;
            }
          }
        }
      }
      &__links{
        ul{
          margin-left: 20px;
          li{
            a{
              font-size: 12px;
              line-height: 16px;
              margin:0px 9px;
            }
          }
        }
      }
    }
  }
  @media(min-width:1600px){
    .novedades{
      .titulo{
        margin-left: 240px;
      }
      &__card{
        width:419px;
        &__img{
          height:387px;
        }
        &__content{
          padding: 50px 56px;
          height: 213px;
          h3{
            font-size: 1.125rem;
            line-height: 1.75rem;
          }
        }
      }
      .owl-novedades{
        margin-left: 44px;
      }
      &__interna{
        &__top{
          padding: 100px 0px;
          margin-top: 110px;
          .item{
            h2{
              color: $azul;
              margin-top: 50px;
              font-size: 1.875rem;
            }
          }
        }
        &__bottom{
          padding: 110px 0px 0px;
        }
      }
    }
    .titulo{
      &--grande{
        font-size:3.125rem;
        line-height: 3.75rem;
        img{
          width: auto !important;
        }
      }
      &--mediano{
        font-size: 1.8rem;
        line-height: 2.25rem;
        img{
          top: 5px;
          left: -40px;
          width: auto !important;
        }
      }
      &--chico{
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
    .video{
      .play{
        .icono{
          left: 11rem;
        }
      }
    }
    .slider{
      margin-top: 0px;
      &__content{
        &__item{
          .centrado{
            left: 9%;
            width: 25%;
          }
          &__titulo{
            font-size:4.375rem;
            line-height: 5.625rem;
          }
        }
      }
    }

    section{
      padding: 148px 0;
    }

    .header{
      height: 110px;
      &__social{
        margin-left: 62px;
      }
      &__logo{
        margin-left: 70px;
        img{
          width: auto;
        }
      }
      &__links{
        margin-left: 46px;
        height: 110px;
        ul{
          margin-left: 0;
          li{
            a{
              font-size: 13px;
              margin:0px 22.3px;
            }
          }
        }
      }
      &__asesorate{

      }
    }
    .container{
        // max-width: 1760px;
        max-width: 1785px;
    }
    .conoce{
      .titulo{
        margin-bottom: 45px;
        margin-left: 110px;
      }
      &__cambioImagen{
        height: 773px;
      }
      &__card{
        &:after{
          height: 773px;
        }
        &:hover &__hover{
          padding: 60px;
        }
      }
    }
  }
  @media(min-width:1700px){

  }
