/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid{
  width: 100%;
  display: none; 
}


.grid-sizer,
.grid-item {
  width: 100%;  
}

.grid-item{
  float: left;
  position: relative;
  height: auto;
}

.grid-item img {
  display: block;
  width: 100%;  
}

.grid-item:hover .grid__magnifier {
    opacity: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;    
}

.grid__magnifier {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;        
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.grid__tp-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto !important;
  transform: translate(-50%, -50%);
}


  @media (min-width: 992px){
    .galeria{
      .grid-sizer,
      .grid-item {
        width: 25%;       
      }
    }
    .contruyendo{
      .grid-sizer,
      .grid-item {
          width: 33.333%;
       
      }
    }   
  }
