.ultimasNov{
  padding-top: 0 !important;
  padding-bottom: 0px !important;
  border-bottom: 1px solid $plomo;
  .owl-ultimasNov{
    .owl-dots{
      position: relative;
      right: 0;
      left: 0;
      margin: auto;
      width: 220px;
      text-align: center;
      margin-bottom: 36px;
      .owl-nav{
        display: none !important;
      }
      .owl-dot{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin: 0px 15px;
        background: $azul;
        position: relative;
        &:hover{
          background: $rojo;
        }
        &:focus{
          outline: none;
        }
        &:before{
          content: "";
          width: 17px;
          height: 17px;
          border-radius: 50%;
          position: absolute;
          background: rgba(0, 0, 255, 0);
          top: -5px;
          left: -5px;
          border: 2px solid  rgba(0, 0, 255, 0);
        }
        &.active{
          background: $azul;
          &:before{
            border: 2px solid $rojo;
          }
        }
      }
    }
  }
}
.sostenibilidad{
  padding: 60px 0px 0px;
}
.objetivos{
  padding: 0px 0px 40px;
  position: relative;
  .titulo{
    margin-left: 35px;
  }
  .owl-objetivos{
    margin-top: 30px;
    .owl-nav{
      margin-top: 40px;
      .owl-prev{
        background-image: url('../images/iconos/flechaRojoGrande.png');
        height: 11px;
        width: 30px;
        margin-right: 20px;
        background-size: cover;
        transform: rotate(180deg);
        &:hover{
          background-image: url('../images/iconos/flechaAzul.png');
          transform: rotate(0deg);
        }
        &:focus{
          outline: none;
        }
        span{
          display: none;
        }
      }
      .owl-next{
        background-image: url('../images/iconos/flechaRojoGrande.png');
        height: 11px;
        width: 30px;
        &:focus{
          outline: none;
        }
        &:hover{
          background-image: url('../images/iconos/flechaAzul.png');
          transform: rotate(180deg);
        }
        span{
          display: none;
        }
      }
    }
  }
  &__item{
    background: $blanco;
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid $plomo;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    img{
      width:70px;
    }
    h4{
      font-size: 1rem;
      line-height: 1rem;
      color: $azul;
      font-weight: 900;
      margin-top: 20px;
    }
  }
  &:after{
    content: "";
    width: 86%;
    height: 77%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:$plomo;
    z-index: -1;
  }
  &--inicio{
    &:after{
      width: 100%;
      height: 40%;
    }
  }
}

@media (min-width: 576px) {
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .objetivos{
    .titulo{
      margin-left: 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .objetivos{
    &__item{
      padding: 30px;
      img{
        width: 80px;
      }
    }
  }
  .ultimasNov{
    padding-bottom: 50px !important;
    .owl-ultimasNov{
      .owl-dots{
        position: absolute;
        right: 10rem;
        margin-bottom: 0;
        left: auto;
      }
    }
  }
}

@media (min-width: 1350px) {
  .ultimasNov{
    padding-bottom: 70px !important;
  }
}

@media (min-width: 1600px) {
  .ultimasNov{
    padding-bottom: 90px !important;
    .owl-ultimasNov{
      .owl-dots{
        right: 17rem;
      }
    }
  }
  .objetivos{
    &__item{
      padding: 30px 50px 30px 40px;
      h4{
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      img{
        width: 100px;
      }
    }
  }
  .sostenibilidad{
    padding: 100px 0px 0px;
  }
}
