.footer{
  padding: 115px 0px 30px;
  background: $azul;
  &__logo{
    text-align: center;
    img{
      width: 160px;
    }
    a{
      display: block;
      color: $blanco;
      margin-top: 20px;
    }
  }
  &__derechos{
    padding-top: 50px;
    h6{
      line-height: 1.625rem;
      font-size: 0.813rem;
      color: $blanco;
      text-transform: uppercase;
      margin: 0;
    }
    a{
      color: $blanco;
      opacity: 0.3;
      line-height: 1.625rem;
      font-size: 0.75rem;
    }
  }
  &__content{
    color: $blanco;
    position: relative;
    padding-left: 47px;
    margin-top: 33px;
    &--padding{
      padding-left: 47px;
      .icono{
        left: -10px !important;
      }
    }
    .icono{
      position: absolute;
      top: -40px;
      left: -55px;
    }
    h3{
      position: relative;
      text-transform: uppercase;
      font-size: 1rem;
      line-height:1.188rem;
      margin-bottom: 20px;
      img{
        position: absolute;
        width: 20px;
        top: -2px;
        left: -32px;
      }
    }
    ul{
      padding: 0;
      &.mayuscula{
        li{
          a{
            letter-spacing: 2px;
            line-height: 1rem;
            font-size: 0.63rem;
            text-transform: uppercase;
          }
        }
      }
      li{
        list-style: none;
        padding: 5px 0px;
        i{
            margin-right: 12px;
        }
        a{
          color: $blanco;

        }
      }
    }
  }
}

@media (min-width: 576px) {

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .footer{
    &__content{
      padding-left: 0px;
      margin-top: 0px;
    }
  }
 }

@media (min-width: 1700px) {

  .footer{
    &__content{

      ul{
        &.mayuscula{
          li{
            a{
              font-size: 0.813rem;
            }
          }
        }
        li{
          padding: 8px 0px;
        }
      } 

    }
  }
 }
